    <modal id="myModalShipDetail" #modalShipDetail>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Details of {{ship.name}}</h4>
        </modal-header>
        <modal-body>
            <table class="table table-condensed">
			    <thead>
			      <tr>
			        <th>SCAN</th>
			        <th>SIG</th>
			        <th>THRUST</th>
			        <th>HULL</th>
			        <th>A</th>
			        <th>PD</th>
			        <th>G</th>
			        <th>T</th>
			        <th>SPECIAL</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>{{ship.scan}}</td>
			        <td>{{ship.sig}}</td>
			        <td>{{ship.thrust}}"</td>
			        <td>{{ship.hull}}</td>
			        <td>{{ship.a}}+</td>
			        <td>{{ship.pd}}</td>
			        <td>{{ship.gmin}}-{{ship.gmax}}</td>
			        <td>{{ship.t}}</td>
			        <td><div *ngFor="let special of ship.specials">{{special.name}}</div></td>
			      </tr>
			    </tbody>
			 </table>
        
        	<table class="table table-condensed">
			    <thead>
			      <tr>
			        <th>WEAPON</th>
			        <th>LOCK</th>
			        <th>ATTACK</th>
			        <th>DAMAGE</th>
			        <th>ARC</th>
			        <th>SPECIAL</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr *ngFor="let weapon of ship.weapons">
			        <td>{{weapon.name}}</td>
			        <td>{{weapon.lock}}+</td>
			        <td>{{weapon.attack}}</td>
			        <td>{{weapon.damage}}</td>
			        <td>{{weapon.arc}}</td>
			        <td><div *ngFor="let special of weapon.specials">{{special.name}}</div></td>
			      </tr>
			    </tbody>
			 </table>
			<table class="table table-condensed" *ngIf="ship.loads.length > 0">
			    <thead>
			      <tr>
			        <th>LOAD</th>
			        <th>LAUNCH</th>
			        <th>SPECIAL</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr *ngFor="let load of ship.loads">
			        <td>{{load.name}}</td>
			        <td>{{load.launch}}</td>
			        <td><div *ngFor="let special of load.specials">{{special.name}}</div></td>
			      </tr>
			    </tbody>
			 </table>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        </modal-footer>
    </modal>
 
	<div class="col-md-12" style="padding: 0;">
		<div class="col-md-3 shipAddParent" style="padding: 0;">
			<div class="shipIcon">
				<img src="../images/{{ship.shipType}}.png" alt="{{ship.shipType}}"/>
			</div>
		</div>
		<div class="col-md-3 shipAddParent" style="padding: 0;">
			<div class="factionIcon">
				<img src="../images/{{ship.faction}}.png" alt="{{ship.faction}}"/>
			</div>
		</div>
		<div class="col-md-2" style="padding: 0;">
			<button type="button" class="btn btn-icon" aria-hidden="true" (click)="modalShipDetail.open()">
				<i class="fa fa-info-circle" aria-hidden="true"></i>
			</button>	
		</div>
		<div class="col-md-4" style="padding: 0;">
			<div>{{ship.name}}</div>
			<div>{{ship.shipType}}</div>
			<div>{{ship.pts}} pts</div>
		</div>
	</div>