<div class="col-md-12 optionLine">
</div>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-12">
			<div class="col-md-offset-1 col-md-2 shipList">
	        	<ship-list (shipChange)="myShipChange($event)" [faction]="fleet.faction" [shipType]="'LIGHT'"></ship-list>
			</div>
			<div class="col-md-8 armyList">
				<div class="col-md-12">
					<div class="col-md-6" *ngIf="!isFleet">
						<span>{{ 'FLEETWELCOME' | translate }}</span>
					</div>
					<div class="col-md-1" *ngIf="isFleet">
						<img alt="{{fleet.faction}}" class="img-responsive" src="../images/{{fleet.faction}}.png">
					</div>
					<div class="col-md-5" *ngIf="isFleet">
						<div class="col-md-12">
							<form class = "form-inline" role = "form">
								<div class = "form-group">
									<input required [(ngModel)]="fleet.name" type="text" placeholder="{{ 'FLEETNAME' | translate }} &#xf040; " class="form-control fleetTitle" id="title" tooltipPlacement="top" tooltip="{{ 'FLEETNAMETOOLTIP' | translate }}">
								</div>
							</form>
						</div>
						<div class="col-md-12">
							<form class = "form-inline" role = "form">
								<div class = "form-group">
									<label class="pointsLabel" for="points">{{fleet.totalPoints}} /</label>
									<input required [(ngModel)]="fleet.maxPoints" type="text" placeholder="{{ 'MAXPOINTS' | translate }} &#xf040;" class="form-control fleetTitle" id="points" tooltipPlacement="top" tooltip="{{ 'MAXPOINTSTOOLTIP' | translate }}">
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pull-right">
							<button type="button" class="btn btn-icon" aria-hidden="true" (click)="modal.open()" tooltipPlacement="top" tooltip="{{ 'CREATENEWFLEET' | translate }}">
								<i class="fa fa-file" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="onSaveFleet()" tooltipPlacement="top" tooltip="{{ 'SAVEFLEETCLOUD' | translate }}">
								<i class="fa fa-floppy-o" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="modalPrintPDF.open()" tooltipPlacement="top" tooltip="{{ 'GENERATEPDF' | translate }}">
								<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon disabled" (click)="onSaveFleet()" tooltipPlacement="top" tooltip="{{ 'LOADFLEETCLOUD' | translate }}">
								<i class="fa fa-folder-open" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="onBBSave(); modalBBCode.open()" tooltipPlacement="top" tooltip="{{ 'GENERATEBBCODE' | translate }}">
								<i class="fa fa-clipboard" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="onExport()" tooltipPlacement="top" tooltip="{{ 'DOWNLOADFLEET' | translate }}">
								<i class="fa fa-download" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon disabled" (click)="modal.open()" tooltipPlacement="top" tooltip="{{ 'UPLOADFLEET' | translate }}">
								<i class="fa fa-upload" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-6" *ngIf="isFleet">
					<div class="col-md-12" *ngIf="fleet.gameSize.lineSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<b>{{ 'LINEGROUP' | translate }}</b>
								<button type="button" class="btn btn-icon" (click)="onClick('addLine', $event)" tooltipPlacement="top" tooltip="{{ 'ADDLINE' | translate }}">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right">
									<span>{{fleet.lineBattlegroupes.length}}/{{fleet.gameSize.lineSize}}</span>	
								</div>					
							</div>					
						</div>
							<div ([ngModel])="battleLines" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.lineBattlegroupes">
								<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
							</div>
					</div>
					<div class="col-md-12" *ngIf="fleet.gameSize.pathfinderSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<b>{{ 'PATHFINDERGROUP' | translate }}</b>
								<button type="button" class="btn btn-icon" (click)="onClick('addPathfinder', $event)" tooltipPlacement="top" tooltip="{{ 'ADDPATHFINDER' | translate }}">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right">
									<span>{{fleet.pathfinderBattlegroupes.length}}/{{gameSize.pathfinderSize}}</span>
								</div>				
							</div>					
						</div>
						<div ([ngModel])="battlePathfinders" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.pathfinderBattlegroupes">
							<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
						</div>
					</div>
				</div>
				<div class="col-md-6" *ngIf="isFleet">
					<div class="col-md-12" *ngIf="fleet.gameSize.vanguardSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<b>{{ 'VANGUARDGROUP' | translate }}</b>
								<button type="button" class="btn btn-icon" (click)="onClick('addVanguard', $event)" tooltipPlacement="top" tooltip="{{ 'ADDVANGUARD' | translate }}">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right">
									<span>{{fleet.vanguardBattlegroupes.length}}/{{gameSize.vanguardSize}}</span>
								</div>				
							</div>					
						</div>
						<div ([ngModel])="battleVanguards" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.vanguardBattlegroupes">
							<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
						</div>
					</div>
					<div class="col-md-12" *ngIf="fleet.gameSize.flagSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<b>{{ 'FLAGGROUP' | translate }}</b>
								<button type="button" class="btn btn-icon" (click)="onClick('addFlag', $event)" tooltipPlacement="top" tooltip="{{ 'ADDFLAG' | translate }}">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right"> 
									<span>{{fleet.flagBattlegroupes.length}}/{{gameSize.flagSize}}</span>	
								</div>			
							</div>
						<div ([ngModel])="battleFlags" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.flagBattlegroupes">
							<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
						</div>
					</div>
				</div>
		</div>
		</div>
	</div>
</div>


    <modal id="myModal" #modal>
        <modal-header [show-close]="false">
            <h4 class="modal-title">{{ 'FLEETDETAILS' | translate }}</h4>
        </modal-header>
        <modal-body>
	        <div class="col-md-12 center-block" style="height: 200px;">
				<div class="col-md-4">
					<game-selector [(selected)]="gameSize" (select)="onGameSizeSelected($event)" tooltipPlacement="top" tooltip="{{ 'SELECTGAMESIZE' | translate }}"></game-selector>
				</div>
				<div class="col-md-4">
					<faction-selector [(selected)]="faction" (select)="onFactionSelected($event)" tooltipPlacement="top" tooltip="{{ 'SELECTFACTION' | translate }}"></faction-selector>
				</div>
				<div class="col-md-4">
				</div>
			</div>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        	<div class="col-md-12 center-block">
				<button type="button" class="btn btn-icon" aria-hidden="true" (click)="onCreateFleet(); modal.close()">
						<i class="fa fa-plus-square" aria-hidden="true"></i>
						<span>{{ 'CREATEFLEET' | translate }}</span>
				</button>
				<button type="button" class="btn btn-icon" (click)="modal.close()">
					<i class="fa fa-ban" aria-hidden="true"></i>
					<span>{{ 'ABORT' | translate }}</span>
				</button>
			</div>	
        </modal-footer>
    </modal>
    
    <modal id="myModalBBCode" #modalBBCode>
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{ 'FLEETBB' | translate }}</h4>
        </modal-header>
        <modal-body>
	        <textarea class="form-control" id="exampleTextarea" rows="15">{{copyBBCode}}</textarea>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        </modal-footer>
    </modal>

    <modal id="myModalPrintPDF" #modalPrintPDF>
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{ 'FLEETPRINTOPTIONS' | translate }}</h4>
        </modal-header>
        <modal-body>
        	<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="armylist"/>{{ 'ARMYLIST' | translate }}</label>
			</div>
			<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="printShipDetails" />{{ 'STATSANDREFS' | translate }}</label>
			</div>
			<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="modelList"/>{{ 'MODELLIST' | translate }}</label>
			</div>
			<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="shoppinglist" disabled/>{{ 'SHOPPINGLIST' | translate }}</label>
			</div>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        	<div class="col-md-12 center-block">
				<button type="button" class="btn btn-icon" aria-hidden="true" (click)="onOpenPdf(); modalPrintPDF.close()">
						<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
						<span>{{ 'PRINTFLEET' | translate }}</span>
				</button>
				<button type="button" class="btn btn-icon" (click)="modalPrintPDF.close()">
					<i class="fa fa-ban" aria-hidden="true"></i>
					<span>{{ 'ABORT' | translate }}</span>
				</button>
			</div>	
        </modal-footer>
    </modal>