<div class="col-md-12 optionLine">
</div>
<div class="container-fluid">
	<div class="row ">
		<div class="col-md-12">
			<div class="col-md-offset-1 col-md-2 shipList">
	        	<ship-list (shipChange)="myShipChange($event)" [faction]="fleet.faction" [shipType]="'LIGHT'"></ship-list>
			</div>
			<div class="col-md-8 armyList">
				<div class="col-md-12">
					<div class="col-md-6" *ngIf="!isFleet">
						<span>Please create new fleet</span>
					</div>
					<div class="col-md-1" *ngIf="isFleet">
						<img alt="{{fleet.faction}}" class="img-responsive" src="../images/{{fleet.faction}}.png">
					</div>
					<div class="col-md-5" *ngIf="isFleet">
						<div class="col-md-12">
							<form class = "form-inline" role = "form">
								<div class = "form-group">
									<input required [(ngModel)]="fleet.name" type="text" placeholder="Standart Fleet &#xf040; " class="form-control fleetTitle" id="title" tooltipPlacement="top" tooltip="Set fleet title.">
								</div>
							</form>
						</div>
						<div class="col-md-12">
							<form class = "form-inline" role = "form">
								<div class = "form-group">
									<label class="pointsLabel" for="points">{{fleet.totalPoints}} /</label>
									<input required [(ngModel)]="fleet.maxPoints" type="text" placeholder="max points &#xf040;" class="form-control fleetTitle" id="points" tooltipPlacement="top" tooltip="Set fleet max. points.">
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pull-right">
							<button type="button" class="btn btn-icon" aria-hidden="true" (click)="modal.open()" tooltipPlacement="top" tooltip="Create new fleet.">
								<i class="fa fa-file" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="onSaveFleet()" tooltipPlacement="top" tooltip="Save fleet to cloud.">
								<i class="fa fa-floppy-o" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="modalPrintPDF.open()" tooltipPlacement="top" tooltip="Generate PDF">
								<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon disabled" (click)="onSaveFleet()" tooltipPlacement="top" tooltip="Load fleet from cloud.">
								<i class="fa fa-folder-open" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="onBBSave(); modalBBCode.open()" tooltipPlacement="top" tooltip="Generate BBCode for fleet.">
								<i class="fa fa-clipboard" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon" (click)="onExport()" tooltipPlacement="top" tooltip="Download fleet as file.">
								<i class="fa fa-download" aria-hidden="true"></i>
							</button>
							<button type="button" class="btn btn-icon disabled" (click)="modal.open()" tooltipPlacement="top" tooltip="Upload fleet file.">
								<i class="fa fa-upload" aria-hidden="true"></i>
							</button>
						</div>
					</div>
				</div>
				<div class="col-md-6" *ngIf="isFleet">
					<div class="col-md-12" *ngIf="fleet.gameSize.lineSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<span>Linegruppen der Flotte</span>
								<button type="button" class="btn btn-icon" (click)="onClick('addLine', $event)" tooltipPlacement="top" tooltip="Add line group.">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right">
									<span>{{fleet.lineBattlegroupes.length}}/{{fleet.gameSize.lineSize}}</span>	
								</div>					
							</div>					
						</div>
							<div ([ngModel])="battleLines" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.lineBattlegroupes">
								<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
							</div>
					</div>
					<div class="col-md-12" *ngIf="fleet.gameSize.pathfinderSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<span>Pathfindergruppen der Flotte</span>
								<button type="button" class="btn btn-icon" (click)="onClick('addPathfinder', $event)" tooltipPlacement="top" tooltip="Add pathfinder group.">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right">
									<span>{{fleet.pathfinderBattlegroupes.length}}/{{gameSize.pathfinderSize}}</span>
								</div>				
							</div>					
						</div>
						<div ([ngModel])="battlePathfinders" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.pathfinderBattlegroupes">
							<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
						</div>
					</div>
				</div>
				<div class="col-md-6" *ngIf="isFleet">
					<div class="col-md-12" *ngIf="fleet.gameSize.vanguardSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<span>Vanguardgruppen der Flotte</span>
								<button type="button" class="btn btn-icon" (click)="onClick('addVanguard', $event)" tooltipPlacement="top" tooltip="Add vanguard group.">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right">
									<span>{{fleet.vanguardBattlegroupes.length}}/{{gameSize.vanguardSize}}</span>
								</div>				
							</div>					
						</div>
						<div ([ngModel])="battleVanguards" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.vanguardBattlegroupes">
							<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
						</div>
					</div>
					<div class="col-md-12" *ngIf="fleet.gameSize.flagSize > 0">
						<div class="col-md-12 noPadding">
							<div class="col-md-10 noPadding">
								<span>Flaggruppen der Flotte</span>
								<button type="button" class="btn btn-icon" (click)="onClick('addFlag', $event)" tooltipPlacement="top" tooltip="Add flag group.">
									<i class="fa fa-plus-square" aria-hidden="true"></i>
								</button>
							</div>
							<div class="col-md-2">
								<div class="pull-right"> 
									<span>{{fleet.flagBattlegroupes.length}}/{{gameSize.flagSize}}</span>	
								</div>			
							</div>
						<div ([ngModel])="battleFlags" class="col-md-12 shipRow" *ngFor="let battleGroupe of fleet.flagBattlegroupes">
							<battleGroupeComponent [fleet]="fleet" [battleGroupe]="battleGroupe"></battleGroupeComponent>
						</div>
					</div>
				</div>
		</div>
		</div>
	</div>
</div>


    <modal id="myModal" #modal>
        <modal-header [show-close]="false">
            <h4 class="modal-title">Select Fleet details</h4>
        </modal-header>
        <modal-body>
	        <div class="col-md-12 center-block" style="height: 200px;">
				<div class="col-md-4">
					<game-selector [(selected)]="gameSize" (select)="onGameSizeSelected($event)" tooltipPlacement="top" tooltip="Select game size."></game-selector>
				</div>
				<div class="col-md-4">
					<faction-selector [(selected)]="faction" (select)="onFactionSelected($event)" tooltipPlacement="top" tooltip="Select faction of the fleet."></faction-selector>
				</div>
				<div class="col-md-4">
				</div>
			</div>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        	<div class="col-md-12 center-block">
				<button type="button" class="btn btn-icon" aria-hidden="true" (click)="onCreateFleet(); modal.close()">
						<i class="fa fa-plus-square" aria-hidden="true"></i>
						<span>Create Fleet</span>
				</button>
				<button type="button" class="btn btn-icon" (click)="modal.close()">
					<i class="fa fa-ban" aria-hidden="true"></i>
					<span>Abort</span>
				</button>
			</div>	
        </modal-footer>
    </modal>
    
    <modal id="myModalBBCode" #modalBBCode>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Fleet as BBCode</h4>
        </modal-header>
        <modal-body>
	        <textarea class="form-control" id="exampleTextarea" rows="15">{{copyBBCode}}</textarea>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        </modal-footer>
    </modal>

    <modal id="myModalPrintPDF" #modalPrintPDF>
        <modal-header [show-close]="true">
            <h4 class="modal-title">Print options</h4>
        </modal-header>
        <modal-body>
        	<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="armylist"/> Army lists </label>
			</div>
			<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="printShipDetails" /> Stats References </label>
			</div>
			<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="modelList"/> Model list </label>
			</div>
			<div class="col-md-12 center-block">
	        	<label> <input type="checkbox" [(ngModel)]="shoppinglist" disabled/> Shopping list </label>
			</div>
        </modal-body>
        <modal-footer [show-default-buttons]="false">
        	<div class="col-md-12 center-block">
				<button type="button" class="btn btn-icon" aria-hidden="true" (click)="onOpenPdf(); modalPrintPDF.close()">
						<i class="fa fa-file-pdf-o" aria-hidden="true"></i>
						<span>Print fleet</span>
				</button>
				<button type="button" class="btn btn-icon" (click)="modalPrintPDF.close()">
					<i class="fa fa-ban" aria-hidden="true"></i>
					<span>Abort</span>
				</button>
			</div>	
        </modal-footer>
    </modal>