html {
	height: 100%;
}

.jumbotron-fluid {
    padding:0;
}
header {
  margin-top: -15px;
}
img{
  width:100%;
  max-width: 100%;
  height:auto;
}
.card-img-top{
  width:100%;
  height:auto;
}

#site-title {
    max-width:150px;
}
#size-banner{
    height: auto;
    min-height: auto;
}
header .display-2 {
    font-size: 350%;
    line-height:1;
    font-weight:300;
}
.banner-tag-line {
    font-size:150%;
    line-height:1.4;
    font-weight:300;
}

@media (min-width: 48em) { /* -md- and above */
  #size-banner{
      height: auto;
      padding-top: auto;
  }
  header .display-2 {
    font-size: 400%;
  }
  .banner-tag-line {
    font-size:180%;
}
}
.btn-banner {
  font-weight: 600;
  color: #002157;
  border-color: #002157;
  margin-right: 10px;
}

/* ---------------------- PARALLAX --------------------------------------*/
.parallax {
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important;
    overflow:hidden;
}

.parallax-pattern-overlay {
    background-color: rgba(255,255,255,0.5);
}

/* ----------------------- FOOTER ---------------------------------------*/
.footer {
    background:#363636;
    position:relative;
    padding: 0;
    margin-top: -100px; /* negative value of footer height */
  	height: 100px;
  	clear:both;
  	padding-top:20px;
}

.footer .container {
    padding-top: 60px;
}

.footer p {
    color:#fff;
    font-size:.9em;
    line-height:24px;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
}


#wrap {
  min-height: 100%;
}

#main {
  overflow:auto;
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}

/* ----------------------- SHIPS ---------------------------------------*/
.shipContainer {
	border-corner-shape: bevel;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    height: 100px;
}

.shipEmptyLightContainer {
	border-corner-shape: bevel;
	padding: 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 100px;
    background-color: #ffcccc;
}

.shipEmptyMediumContainer {
	border-corner-shape: bevel;
	padding: 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 100px;
    background-color: #99ccff;
}

.shipEmptyHeavyContainer {
	border-corner-shape: bevel;
	padding: 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 100px;
    background-color: #ccffcc;
}

.shipEmptySuperHeavyContainer {
	border-corner-shape: bevel;
	padding: 0px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 100px;
    background-color: #ffff99;
}

.battleContainer {
}

.shipRow {
	padding: 15px;
}

/* ----------------------- NAVBAR---------------------------------------*/

.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* ----------------------- DRAGULA ---------------------------------------*/
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
