html {
	height: 100%;
}

.jumbotron-fluid {
    padding:0;
}
header {
  margin-top: -15px;
}
img{
  width:100%;
  max-width: 100%;
  height:auto;
}
.card-img-top{
  width:100%;
  height:auto;
}

#site-title {
    max-width:150px;
}
#size-banner{
    height: auto;
    min-height: auto;
}
header .display-2 {
    font-size: 350%;
    line-height:1;
    font-weight:300;
}
.banner-tag-line {
    font-size:150%;
    line-height:1.4;
    font-weight:300;
}

@media (min-width: 48em) { /* -md- and above */
  #size-banner{
      height: auto;
      padding-top: auto;
  }
  header .display-2 {
    font-size: 400%;
  }
  .banner-tag-line {
    font-size:180%;
}
}
.btn-banner {
  font-weight: 600;
  color: #002157;
  border-color: #002157;
  margin-right: 10px;
}

/* ---------------------- PARALLAX --------------------------------------*/
.parallax {
    text-align:center;
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:fixed!important;
    overflow:hidden;
}

.parallax-pattern-overlay {
    background-color: rgba(255,255,255,0.5);
}

.isEmpty {
	height: 100%;
}

/* ----------------------- FOOTER ---------------------------------------*/
.footer {
    background:#2e3c45;
    position:relative;
    padding: 0;
    margin-top: -100px; /* negative value of footer height */
  	height: 100px;
  	clear:both;
  	padding-top:20px;
}

.footer .container {
    padding-top: 60px;
}

.footer p {
    color:#fff;
    font-size:.9em;
    line-height:24px;
    font-weight:300;
    text-align:center;
    text-transform:uppercase;
}


#wrap {
  min-height: 100%;
  background: #2e3c45;
  color: #61727D;
}

#main {
  padding-bottom:100px; /* this needs to be bigger than footer height*/
}



/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/
.jcarousel {
    position: relative;
    overflow: hidden;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/
.jcarousel ul {
    width: 20000em;
    position: relative;

    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/
.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
}

/* ----------------------- SHIPS ---------------------------------------*/
.shipContainer {
    -webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-style: solid;
    border-width: 1px;
    height: 75px;
    margin-bottom: 6px;
    background-color: rgba(0, 0, 0, 0.1);
}

.fleetShip {
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	border-top-right-radius: 15px;
    border-style: solid;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0.4);
    height: 14px;
}

.optionLine {
	border-width: 0px 0px 1px 0px;
	border-color: #00FF00;
	border-style: solid;
	padding: 5px 15px 5px 15px;
}

.row-fluid{
     white-space: nowrap;
}
.row-fluid .col-md-3{
     display: inline-block;
}

.shiplist {
	padding: 5px 15px 5px 15px;
}

.armyList {
    -webkit-border-bottom-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-width: 0px 1px 1px 1px;
	border-color: #00FF00;
	border-style: solid;
	padding: 5px 5px 5px 5px;
}

.shipEmptyLightContainer {
	padding: 0px;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 75px;
    margin-left: 3px;
    margin-right: 3px;
}

.btn-addShip {
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	height: 100%;
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
}

.shipDetailView {
	height: 200px;
	color: #FFF;
	border-color: #00FF00;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
	border-width: 1px;
	border-style: solid;
}

.h-scroll {
    overflow-y: scroll;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.btn-primary {
	background-color: transparent;
	color: #FFF;
	border-color: #00FF00;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
}

.btn-primary-add {
	background-color: #00FF00;
	color: #FFF;
	border-color: transparent;
	-webkit-border-bottom-right-radius: 15px;
	-webkit-border-top-left-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-moz-border-radius-topleft: 15px;
	border-bottom-right-radius: 15px;
	border-top-left-radius: 15px;
}

.entity-list {
	font-size: 10px;
}

.btn-primary:hover {
	background-color: transparent;
}

.vertical-center {
  min-height: 100%;  /* Fallback for vh unit */

  /* Make it a flex container */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; 
  
  /* Align the bootstrap's container vertically */
    -webkit-box-align : center;
  -webkit-align-items : center;
       -moz-box-align : center;
       -ms-flex-align : center;
          align-items : center;
  
  /* In legacy web browsers such as Firefox 9
     we need to specify the width of the flex container */
  width: 100%;
  
  /* Also 'margin: 0 auto' doesn't have any effect on flex items in such web browsers
     hence the bootstrap's container won't be aligned to the center anymore.
  
     Therefore, we should use the following declarations to get it centered again */
         -webkit-box-pack : center;
            -moz-box-pack : center;
            -ms-flex-pack : center;
  -webkit-justify-content : center;
          justify-content : center;
}

.nav li {
	margin: 0 5 0 5;
}

.noPadding {
	padding: 0;
}

.shipEmptyMediumContainer {
	border-corner-shape: bevel;
	padding: 0px;	
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 75px;
    margin-left: 3px;
    margin-right: 3px;
}

.shipEmptyHeavyContainer {
	border-corner-shape: bevel;
	padding: 0px;	
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 75px;
    margin-left: 3px;
    margin-right: 3px;
}

.shipEmptySuperHeavyContainer {
	border-corner-shape: bevel;
	padding: 0px;	
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin: 0px;
    height: 75px;
    margin-left: 3px;
    margin-right: 3px;
}

.shipAddEmptyContainer {
	border-corner-shape: bevel;
	padding: 0px;	
	-webkit-border-top-right-radius: 15px;
	-webkit-border-bottom-left-radius: 15px;
	-moz-border-radius-topright: 15px;
	-moz-border-radius-bottomleft: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
    border-style: solid;
    border-width: 1px;
    margin-left: 3px;
    margin-right: 3px;
    height: 75px;
}

.shipContainer col-md-12 col-md- {
	padding: 0px;
}

.row-no-padding {
  [class*="col-"] {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

.battleContainer {
}

.shipRow {
	margin-top: 3px;
	margin-bottom: 3px;
	padding: 0px 0px 0px 0px;
}

/* ----------------------- NAVBAR---------------------------------------*/

.bg-inverse {
	background-color:#2e3c45;
	color:#dae2e6;
}


.navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}

/* ----------------------- DRAGULA ---------------------------------------*/
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}

.nav-display {
	display: inline-flex;
}