<div>
<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li class="nav-item pull-right">
	  	<button class="logButton btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
	 	<button class="logButton btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
      </li>
      <li class="nav-item pull-right"> 
		<select (change)="translate.use($event.target.value)" class="nav-link langSelector">
			<option *ngFor=" let lang of ['de', 'en']" [selected]="lang === translate.currentLang">{{lang}}</option>
		</select>
      </li>
      <li class="nav-item pull-right"> 
        <a routerLink="about" class="nav-link">{{"ABOUT" | translate}}</a>
      </li>
      <li class="nav-item pull-right"> 
        <a routerLink="contact" class="nav-link">{{"CONTACT" | translate}}</a>
      </li>
      <li class="nav-item pull-right" *ngIf="auth.isAdmin()"> 
        <a routerLink="ships" class="nav-link">{{"SHIPS" | translate}}</a>
      </li>
      <li class="nav-item"> 
        <a routerLink="" class="nav-link">{{"DropFleet Builder" | translate}}</a>
      </li>
      <li class="nav-item"> 
        <a routerLink="fleet" class="nav-link">{{"FLEET" | translate}}</a>
      </li>
      <li class="nav-item" *ngIf="auth.authenticated()"> 
        <a routerLink="fleetList" class="nav-link">{{"FLEETLIST" | translate}}</a>
      </li>
    </ul>
  </div>
</nav>
</div>